body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(31, 29, 29);
}

button {
    background: none;
    color: rgb(255, 45, 45);
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

button:hover {
    border-color: rgb(255, 145, 0);
    color: white;
    box-shadow: 0px 5px 5px -2px rgb(255, 145, 0);
    transform: translateY(-5px);
    cursor: pointer;
}