h1 {
    background-color: paleturquoise;
    border: 1px;
    display: inline;
}

p {
    background-color: palevioletred;
    border: 1px;

}

.F {
    border: 25px solid papayawhip;
    margin: 15px;
}

.T {
    border: 25px solid rgb(71, 206, 199);
    margin: 15px;
    display: inline-block;
}

.l {
    background-color: palegoldenrod;
    border: 1px;
    display: block;
}

.w {
    color: red;
    font-size: 50px;
}